# --- SISTEMA ---
.DS_Store
Thumbs.db

# --- PYTHON ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ambientes virtuais
.venv/
venv/
env/

# Logs
*.log

# Arquivos sensíveis
*.env
*.ini
*.cfg
*.toml

# --- NOTEBOOKS ---
.ipynb_checkpoints/

# --- VS CODE ---
.vscode/

# --- NÃO VERSIONAR ---
webapp/