# --- SISTEMA ---
.DS_Store
Thumbs.db

# --- PYTHON ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ambientes virtuais
.venv/
venv/
env/

# Logs
*.log

# Arquivos sensíveis
*.env
*.ini
*.cfg
*.toml

# --- NOTEBOOKS ---
.ipynb_checkpoints/

# --- DATA ---
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.pkl
*.pickle

data/
datasets/
raw_data/
processed_data/

# --- MODELAGEM ---
*.h5
*.hdf5
*.joblib
*.model

# --- VS CODE ---
.vscode/